.outline{
    border-color: black;
    border: thick double #5a0ca4;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    background-color: #e3dde8;
}

h1{
    color: #400b72;
    text-shadow: 1px 1px 5px 
    #686767;
}