.outline{
    border-color: black;
    border: thick double #5a0ca4;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    background-color: #e3dde8;
}

h1{
    color: #400b72;
    text-shadow: 1px 1px 5px 
    #686767;
}

img{
    display: block;
    margin: auto;
}

input{
    display: block;
    margin: auto;
    margin-top: 1rem;
}

button {
    margin-top: 1rem;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    width: 250px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgb(80, 55, 112);
    box-shadow:
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  button:hover {
    background-color: rgb(107, 75, 149);
  }
  
  button:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }