div{
    border-color: black;
    border: thick double #ab75dd;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    background-color: #e3dde8;
}

h1{
    text-shadow: 1px 1px 5px 
    #686767;
}

img{
    display: block;
    margin: auto;
}

.popular-article {
font-size: 1.5em;
text-shadow: 2px 2px 5px gray;
font-weight: bold;
}